{% import "./macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}

BrandZ has been compiling rankings of the world's most valuable brands since 2006, during which time there has been a noticeable shift in the positioning of technology companies. The 37 tech companies in the top 100 now account for more than half the value of the total — 54 per cent — up from 37 per cent in 2006. The companies in the ranking table are also younger - the  age of a top 10 brand has almost halved from 88 years to 42 over the last decade.
<!-- {# START MID AD SLOT
    You can move this wherever it works best in your page's design.
    For more control over the size, write your own o-ads div - see
    https://financial-times.github.io/o-ads/docs/developer-guide/display #}
{% if ads %}{{ macros.middleAd() }}{% endif %}
{# END MID AD SLOT #} -->
## About this list

BrandZ calculates values by considering financial measures — revenues and profitability — combined with surveys of 3.1m consumers in 51 countries for their views about brands.

{% endmarkdown %}
{% include "components/table/index.html" %}
{% markdown %}

<footer class="o-typography-footer">The Brand Value of Coca-Cola includes Lights, Diets and Zero; Budweiser includes Bud Light; Pepsi includes Diets; Red Bull includes sugar-free and Cola</footer>
<footer class="o-typography-footer">Source: <a href="http://www.millwardbrown.com/brandz/brandz">Kantar Millward Brown/BrandZ</a> (including data from Bloomberg)</footer>

{% endmarkdown %}
{% endblock %}
