{% import "./macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}

The rise of <a href="https://www.ft.com/content/ddd097d8-6b45-11e8-aee1-39f3459514fd">Chinese brands</a> is one of the most notable features of the BrandZ rankings in 2018. While US brands — particularly those of tech companies  — still dominate in terms of numbers, Chinese businesses such as Tencent and Alibaba are seeing rapid increases in their brand value, growing at double the pace of their US rivals. 

European luxury brands, meanwhile, are seeing a revival in their fortunes, thanks to their increasing use of social media - Gucci, for example, has more than 25m followers on Instagram -  as well as their appeal for affluent young Chinese consumers. 

<a href="https://www.ft.com/content/da6fcd16-6b45-11e8-aee1-39f3459514fd">Telecoms brands</a>, on the other hand, are heading downwards in the rankings, as customer attention is increasingly captured by smartphone makers or companies offering apps and services. 

<a href="https://www.ft.com/content/d71140dc-6b45-11e8-aee1-39f3459514fd">Indian banking brand HDFC</a> and Indonesian bank BCA are notable exceptions in the rankings otherwise dominated by the US, Europe and China. This reflects the growing branding power of financial services in these economies.  
<!-- {# START MID AD SLOT
    You can move this wherever it works best in your page's design.
    For more control over the size, write your own o-ads div - see
    https://financial-times.github.io/o-ads/docs/developer-guide/display #}
{% if ads %}{{ macros.middleAd() }}{% endif %}
{# END MID AD SLOT #} -->
## About this list

The BrandZ rankings of the world’s most valuable brands have been compiled by WPP’s marketing and brand consultancy Kantar Millward Brown since 2006. BrandZ calculates values by combining financial and market data with surveys of more than 3.6m consumers in 51 countries for their views about brands.

{% endmarkdown %}
{% include "components/table/index.html" %}
{% markdown %}

<footer class="o-typography-footer">The Brand Value of Coca-Cola includes Lights, Diets and Zero; Budweiser includes Bud Light; Pepsi includes Diets; Red Bull includes sugar-free and Cola</footer>
<footer class="o-typography-footer">Source: <a href="http://www.millwardbrown.com/brandz">Kantar Millward Brown/BrandZ</a> (including data from Bloomberg)</footer>

{% endmarkdown %}
{% endblock %}
